{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}


<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>My ToDo List</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="{% url 'create-task' %}"> <button class="btn btn-warning mb-2" >Add Task</button></a>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        {% for todo in tasks %}
      <div class="col-sm-6 col-md-7 col-lg-3 col-xl-3 mb-3">
          <div class="card card-recently-added">
        <a href="{% url 'task-details' todo.id %}" class="text-decoration-none text-reset">
                <div class="card-body text-bg-light">
                    <h5 class="card-title rec-card-title"></h5>
                <p class="card-text text-center">{{todo.title}}</p>
                <p class="card-text">{{todo.description}}</p>
                <div class="card-text text-muted">{{ todo.created}}</p>
                 </div>
                <hr>
            </div>
        </a>
        <div class="text-center mb-3">
            <!-- EDIT AND DELETE BUTTONS -->
            <span>
            <a href="#"><button class="btn btn-success ">Edit</button></a></span>
            <span>
                <a href="#"><button class="btn btn-danger ">Delete</button></a></span>
            </span>
            <!-- END OF BUTTONS -->
         </div>
        </div>
        
      </div>    
      {% empty %}
      <h1>No items in list</h1> 
      {% endfor %}
    </div>
  </div>


{% else %}

<div class="container text-center">
    <div class="row mb-5">
        <div class="col-12">
            <h1> Welcome to ToDo List App</h1>
        </div>
    </div>

    <div class="row">

        <div class="col">
            <div>
                Please create an account in order to use this app.
            </div>
        </div>
    </div>

</div>


{% endif %}



{%endblock%}